*{
	border:0;
	margin:0;
	padding:0;
}

@font-face{
	font-family: fonte1;
	src: url(fontes/Staatliches-Regular.ttf);
}

@font-face{
    font-family: fonte2;
    src: url(fontes/TenorSans-Regular.ttf);
}

@font-face{
    font-family: fonte3;
    src: url(fontes/SourceSerifPro-Regular.ttf);
}

html {
    scroll-behavior: smooth;  
}

body{
    background-color:#FFF;
    overflow-y: scroll;
}

body::-webkit-scrollbar{
    width: 8px;
}

body::-webkit-scrollbar-track {
    background: black; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb{
    background-color: red;
    border-radius: 30px;
}

main{
	position:relative;
	width:100%;
	height:auto;
	background-color:#000;
	margin:auto;
}

header{
    position:fixed;
    z-index:3;
    font-family: fonte2;
	width:100%;
	height:75px;
    background-color:#000;
    float: left;
}

#img1{
    width: 40%;
    height: 65%;
    margin-left: 25%;
    padding-top: 2%;
}

#menu1{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}

.lista{
    margin-top: 2%; 
}

#menu1 a{
    color: #FFF;
    font-size: 15px;
	text-decoration:none;
	font-weight:bold;
    text-align: center;
}

#menu1 a:hover{
    transition: 1s all;
    color: #C00707;
}

#sec1 {
    position: relative;
    width: 100%;
    height: auto;
    background-image: url(imagens/home1.jpg);
    margin-top: 70px;
    font-family: fonte1;
    font-size: 50px;
    color: #C5C5C5;
    display: flex;
    background-repeat: no-repeat;
    margin: auto;
    flex-direction: column;
    background-size: cover;
    padding-top: 10%;
    padding-bottom: 12%;
}


#sec1 p{
    position: relative;
    margin-left: 30px;
    margin-top: 90px;
}

#quem_somos {
    position: relative;
    background-image: url(imagens/hme2.jpg);
    width: 100%;
    height: auto;
    background-size: cover;
}

.titulo{
    color: #BF1212;
    font-size: 40px;
    font-family: fonte2;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 35%;
}

.corpo{
    color: #C5C5C5;
    font-family: fonte3;
    font-size: 30px;
    text-align: center;
    padding-left: 38% ;
    width: 60%;
}

.p1{
    padding-bottom: 5%;
}

#imagem{
    text-align: right;
    padding-right: 20%;
    padding-top: 5%;
    padding-bottom: 10%;
    clear: right;
}

#cardapio{
    position: relative;
    background-color: #000;
    width: 100%;
    height: auto;
}

.titulo2{
    color: #BF1212;
    font-size: 40px;
    font-family: fonte2;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

#comida{
    border-radius: 34px;
    position: relative;
    width: 100%;
    height: 300px;
    background-color: #868686;
}


#divscomidas{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    padding: 0;
}

#divscomidas li {
    display: inline;
}

#divscomidas li img {
    width: 200px; /* Aqui é o tamanho da imagem */
    -webkit-transition: 1s all ease; /* É para pega no Chrome e Safira */
    -moz-transition: 1s all ease; /* Firefox */
    -o-transition: 1s all ease; /* Opera */
}

#divscomidas li img:hover {
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
}

#hotroll{
    border-radius: 34px 34px 0px 0px;
    width: 200px;
}

.nome{
    font-family: fonte3;
    color: #000;
    font-weight: bold;
    text-align: center;
    padding: 5px;
}

.descricao{
    font-family: fonte3;
    color: #882020;
    font-weight: bold;
    text-align: center;
    padding-bottom: 25px;
}

.link{
    font-family: fonte2;
    text-decoration: none;
    color: #FFF;
    background-color: #BF1212;
    border: 10px solid #BF1212;
    margin-left: 50px;
}

.virtual{
    font-family: fonte2;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    padding: 40px;
    clear: left;
}

#qrcode{
   text-align: center;
}

#contato{
    position: relative;
    background-color: #000;
    width: 100%;
    height: auto;
}

.titulo3{
    color: #BF1212;
    font-size: 40px;
    font-family: fonte2;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

iframe{
    margin-left: 10%;
}

#texto_contato{
    font-family: verdana;
    color: #FFF;
    font-size: 13px;
    text-align: center;
    margin-top: 15px;
    padding-bottom: 5%;
}

footer{
    background-color: #BF1212;
    width: 100%;
    height: 60px;
}

#logo2{
    width: 60px;
    height: 50px;
    margin-left: 48%;
}

#wpp{
    width: 20px;
    height: 20px;
    float: right;
    margin: 10px;
    margin-right: 10px;
}

#face{
    width: 20px;
    height: 20px;
    float: right;
    margin: 10px;
}

#insta{
    width: 20px;
    height: 20px;
    float: right;
    margin: 10px;
}

#divscomidas {
    list-style: none;
    padding: 0;
}

#divscomidas li {
    display: inline;
}

/*visualização smartphone*/

@media screen and (max-width:576px){
    #divscomidas{
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        align-items: center;
    }

   #comida{
    margin-bottom: 15%;
   }

   #sec1{
       text-align: center;
   }

   #quemsomos{
       text-align: center;
      
    }

    .titulo{
        text-align: center;
        font-size: 30px;
        padding-bottom: 5%;
        padding-top: 10%;
        padding-left: 5%;
    }

    .corpo{
        width: auto;
        padding-left: 5%;
    }

    #imagem{
        display: none;
    }

    .p1{
        padding-bottom: 5%;
    }
    
    .lista{
       font-size: 10px;
       padding-top: 5%;
    }

    #img1{
        width: 60px;
        height: 50px;
        padding-top: 15%;
        margin-left: 0%;
    }

    #menu1 a{
        font-size: 12px;
    }

    header{
        position:relative;
    }

    iframe{
        height: 300px;
    }

    #logo2{
        margin-left: 45%;
    }

    #sec1 {
        padding-bottom: 15%;
    }
}



/*visualização tablet*/

@media only screen and (min-width:577px){
    @media only screen and (max-width:850px)
    {

    #imagem{
        display: none;
    }

    #divscomidas{
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        align-items: center;
    }

   #comida{
    margin-bottom: 15%;
   }

   .titulo{
    text-align: center;
    font-size: 30px;
    padding-bottom: 5%;
    padding-top: 10%;
    
   }

    .p1{
        padding-bottom: 5%;
    }

    #img1{
    width:40%;
    height: 60%;
    margin-left: 25%;
    }

    header{
        position:relative;
    }

    .corpo{
        padding-left: none;
        width: auto;
        margin: auto;
    }

}

}
